@use '../../assets/sass/_variables'
@use '../../assets/sass/_utilities'

.container-popup
    background-color: variables.$container-bg-color 
    z-index: 99
    position: absolute
    width: 50%
    top: -80%
    left: 50%
    margin-left: -25%
    border-radius: 16px
    border: 1px solid variables.$primary-color
    display: flex
    align-items: center
    flex-direction: column
    padding: 15px

    box-shadow: 0 0 20px variables.$secondary-color

    @include utilities.animation(popup-animation , .5s, 1, ease-in-out)

    h2 
        font-size: 1.8rem
        margin-top: 10px
        text-align: center

    p
        font-weight: 400
        font-size: 1.4rem
        margin-bottom: 15px
        text-align: center

        &:first-of-type
            margin-top: 20px 

        &:last-of-type
            margin-bottom: 20px

