@use '../../assets/sass/_variables'
@use '../../assets/sass/_utilities'

.container-modal
    top: 0
    display: flex
    position: absolute
    background-color: variables.$container-bg-color
    width: 100%
    height: 80%
    z-index: 99
    transition: .5s

    @include utilities.mobile
        width: 95%

    .modal-content
        text-align: center
        position: relative
        transition: 1s
        padding: 40px 20px
        width: 410px
        height: 420px
        margin: auto
        box-shadow: 0 0 30px 10px variables.$primary-color
        border-radius: 16px
        background-color: variables.$container-bg-color
        border: 1px solid variables.$primary-color

        transform: perspective(80px)
        @include utilities.animation(button-shadow-throb , 1.75s ,linear , infinite, both )

        .modal-title
            color: variables.$secondary-color

        .close
            position: absolute
            right: 20px
            top: 20px

        .modal-box
            font-family: 'Imprima', sans-serif
            font-weight: 400
            font-size: 1.6rem

            display: flex
            flex-direction: column
            gap: 25px

            &:first-of-type
                margin-top: 50px

    &.hidden
        opacity: 0
        background-color: none
        z-index: -10

        .modal-content
            transform: translateZ(12px)
