@use './_variables'

@mixin center-elements
    display: flex
    justify-content: center
    align-items: center

@mixin form-elements-style
    background-color: variables.$fields-bg-color
    border: 1px solid variables.$secondary-color
    border-radius: 10px
    font-size: 1.4rem
    letter-spacing: 1px
    color: variables.$font-color

    &::placeholder
        color: variables.$font-color

@mixin tablet
    @media (max-width: 800px)
        @content

@mixin mobile
    @media (max-width: 410px)
        @content

@mixin animation($name, $duration,$timing-function , $iteration-count, $animation-fill-mode: none)
    animation: $name $duration $timing-function $iteration-count

@keyframes pulse-animation
    0%
        box-shadow: 0 0 10px variables.$primary-color

    25%
        box-shadow: 0 0 15px variables.$primary-color

    40%
        box-shadow: 0 0 30px variables.$primary-color

    50%
        box-shadow: 0 0 40px variables.$primary-color

    60%
        box-shadow: 0 0 30px variables.$primary-color

    75%
        box-shadow: 0 0 15px variables.$primary-color

    100%
        box-shadow: 0 0 10px variables.$primary-color

@keyframes button-shadow-throb
    0%
        box-shadow: 0px 0px 0px 0px variables.$primary-color,0px 0px 0px 0px variables.$primary-color,0px 0px 0px 0px variables.$primary-color

    15%
        box-shadow: 0px 0px 0px 0px variables.$primary-color,0px 0px 0px 0px variables.$primary-color,0px 0px 0px 5px variables.$primary-color

    30%
        box-shadow: 0px 0px 0px 0px variables.$primary-color,0px 0px 0px 5px variables.$primary-color, 0px 0px 0px 10px #007cff40

    45%
        box-shadow: 0px 0px 0px 5px #007cff80, 0px 0px 0px 10px #007cff40,0px 0px 0px 15px #007cff20

    60%
        box-shadow: 0px 0px 0px 10px #007cff40,0px 0px 0px 15px #007cff20,0px 0px 15px 15px #007cff00

    75%
        box-shadow: 0px 0px 15px 15px #007cff00,0px 0px 0px 15px #007cff20,0px 0px 15px 15px #007cff00

    90%
        box-shadow: 0px 0px 15px 15px #007cff00,0px 0px 15px 15px #007cff00,0px 0px 15px 15px #007cff00

    100%
        box-shadow: 0px 0px 15px 15px #007cff00,0px 0px 15px 15px #007cff00,0px 0px 15px 15px #007cff00

@keyframes popup-animation 
    0%
        opacity: 0
        transform: translateY(-150%)
        box-shadow: 0 0 5px variables.$secondary-color
    50%
        opacity: 1
        transform: translateY(15px)
        box-shadow: 0 0 12px variables.$secondary-color

    100% 
        opacity: 1
        transform: translateY(0)
        box-shadow: 0 0 20px variables.$secondary-color
