// Main colors
$primary-color: #59F8E8
$secondary-color: #25A2F3
$dark-color: #111010

$font-color: #FFFFFF
$filter-color: rgba(0 ,0 ,0 , .6)

// Background colors
$fields-bg-color: #5F5F5F
$cta-button-bg-color: #1F3A3E
$container-bg-color: #262627
$displayed-project-bg-color: #393939
$navbar-bg-color: #202020

// Gradient colors
$gradient-light-color: #2e2e30
$gradient-mid-color: #1c1c1d
$gradient-dark-color: #0f0f0f

// techs styles
$tech-icons-style: (html: #E34C26,css: #0F5298,javascript: #dfc011,react: #61DBFB,sass: #CD6799,github: #ebe7e7,git: #F1502F,figma: #51af5e)
